.buscar-libro {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;

  border-style: solid;
  border-width: 0.1rem;
  padding: 0.9em;
}
.buscar-libro,
.lista-resultados {
  border-radius: 1rem;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  font-size: 1.1em;
}
.input input {
  width: 100%;
}
.lista-resultados {
  padding: 0.5em;
  background-color: rgba(128, 128, 128, 0.5);
  margin-top: 1em;
  gap: 0.5rem;
  list-style: none;
}
.lista-resultados_btn {
  padding: 0.3em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.lista-resultados_btn:hover {
  background-color: #1a1a1a;
}
.lista-resultados_btn:focus {
  outline: none;
  color: orange;
}

@media (min-width: 576px) {
}

@media (min-width: 786px) {
  .buscar-libro {
    width: 90%;
    padding: 1.5em;
  }
  .input {
    font-size: 1em;
  }
}
