.contenedor {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5rem);
  border-radius: 50%;
}
.cambiar-tema_btn {
  margin: 0.3rem;
  padding: 0.1rem;
  border-radius: 50%;
  box-shadow: var(--sombra-btns_hover);
}
.cambiar-tema_btn img {
  width: 100%; /* que la imagen llene el botón */
  height: 100%;
  object-fit: contain; /* mantiene la proporción */
  display: block;
}

@media (min-width: 576px) {
}

@media (min-width: 786px) {
  .contenedor {
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5rem);
    border-radius: 50%;
  }

  .cambiar-tema_btn {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .cambiar-tema_btn img {
    width: 100%; /* que la imagen llene el botón */
    height: 100%;
    object-fit: contain; /* mantiene la proporción */
    display: block;
  }
}
