.agregar-libro {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;

  padding: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
}
.agregar-libro_inputs {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}
.ano input {
  width: 25%;
}
.check input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}

@media (min-width: 576px) {
  .titulo input,
  .autor input,
  .ano input,
  .check input {
    padding: 0.2rem;
    padding-left: 0.5em;
    border: 0.1em solid #ddd;
    border-radius: 0.4rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 786px) {
  .agregar-libro {
    display: grid;
    gap: 1rem;

    padding: 1rem;
    border-style: solid;
  }
  .agregar-libro_inputs {
    width: 100%;
  }
  .input {
    font-size: 1.2em;
  }
  .check input {
    transform: scale(1.3);
  }
}
