.mostrar-libros_panel {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
}
.mostrar-libros_btns,
.mostrar-libros_btons--abc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mostrar-libros_btns {
  gap: 0.7rem;
}
.mostrar-libros_btons--abc {
  gap: 0.2rem;
}
.mostrar-libros_btons--abc button {
  padding: 0.1rem 0.4rem;
  border-radius: 0.6em;
}
.lista-libros {
  display: grid;
  list-style: none;
}

@media (min-width: 576px) {
  .mostrar-libros_btons--abc button {
    padding: 0.2em 0.5rem;
    border-radius: 0.6rem;
  }
  .mostrar-libros {
    margin: 1em 0;
  }
}

@media (min-width: 786px) {
  .mostrar-libros_btns {
    gap: 1rem;
  }
  .mostrar-libros_btons--abc button {
    padding: 0.2em 0.3em;
    border-radius: 0.8rem;
  }
  li {
    display: block;
    place-items: center;
  }
}
