.libro-card {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  margin: 1em 0;
  padding: 1em;
  width: 100%;

  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
}
.libro-card_info {
  display: grid;
  gap: 0.5rem;
}
.libro-card_btns {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 786px) {
  .libro-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2em 0.5em;
    width: 90%;
    max-width: 650px;
  }
  .libro-card_btns {
    display: grid;
    gap: 0.5rem;
  }
}
