.panel-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-bottom: 1rem;
}
.contenedor {
  display: grid;
  align-items: center;
  justify-items: center;
}

@media (min-width: 576px) {
}

@media (min-width: 786px) {
  .panel-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
