.contenedor-buscador {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.panel-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
}

@media (min-width: 786px) {
  .panel-control {
    margin: 1rem;
  }
}
