#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contenedor-principal {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 1rem;
  max-width: 450px;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
}

@media (min-width: 576px) {
  #contenedor-principal {
    max-width: 550px;
    padding: 1rem;
  }
  h1 {
    font-size: 2.1em;
  }
}

@media (min-width: 786px) {
  #contenedor-principal {
    max-width: 800px;
    padding: 1.5rem;
  }
  h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3em;
  }
}
