:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-text: white;
  color: var(--color-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Resteo valores globales (para evitar problemas de estilos futuros) */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Configuración de las variables que se usaran en los cambios de tema */
[theme="light"] {
  --color-text: white;
  --color-btns: #1a1a1a;
  --color-btns_hover: #525252;
  --color-border--btns_hover: #646cff;
  --sombra-btns: 0 0 0 rgba(255, 255, 0, 0);
}
[theme="light"] body::before {
  opacity: 0.7;
  filter: blur(0.06rem);
}
[theme="light"] body::after {
  opacity: 0;
}
[theme="dark"] {
  --color-text: #cfcfcf;
  --color-btns: #525252;
  --color-btns_hover: #1a1a1a;
  --color-border--btns_hover: orange;
  /* --sombra-btns: 0 0 5px 1px rgba(247, 233, 151, 1); */
  --sombra-btns_hover: 0 0 10px 2px rgba(255, 220, 82, 1);
}
[theme="dark"] body::before {
  opacity: 0; /* capa clara invisible */
}
[theme="dark"] body::after {
  opacity: 1; /* capa oscura visible */
}
/* -------------------------------------------------------------------------------------------------------------- */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 1em;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: var(--color-text);
  font-size: 0.8rem;
  transition: color 2s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 2s ease, color 2s ease;
  z-index: -1;
}
body::before {
  background-image: url("/fondo.webp"); /* siempre la imagen "clara" */
}

body::after {
  background-image: url("/fondo-oscuro.webp"); /* siempre la imagen "oscura" */
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 0.6rem;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btns);
  cursor: pointer;
  box-shadow: var(--sombra-btns);
}
button.tema-transicion {
  transition: background-color 2s ease, box-shadow 0.2s ease;
}
button:hover {
  background-color: var(--color-btns_hover);
  border-color: var(--color-border--btns_hover);
  box-shadow: var(--sombra-btns_hover);
  transition: none;
}

/* RESPONSIVE INDEX */
@media (min-width: 576px) {
  body {
    display: grid;
    place-items: center;
    padding: 3em 3em;
    font-size: 1rem;
  }
  button {
    padding: 0.4em 1em;
    font-size: 1em;
  }
}

@media (min-width: 786px) {
  body {
    padding: 5em 1em;
    font-size: 1.1rem;
  }
  button {
    border-radius: 0.8rem;
    padding: 0.5em 1.1em;
  }
}
